@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1e1f20;
  --surface: #2a2b2c;
  --primary: #8ab4f8;
  --on-primary: #202124;
  --text-primary: #e8eaed;
  --text-secondary: #969ba1;
  --border: #3c4043;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  font-family: 'Google Sans', sans-serif;
}
